@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

::selection {
    background: #CF1C4F;
}

body {
    background: #FAFAFA;
    text-align: center;
    font-family: 'Teko', sans-serif;
    margin: 0;
}

#top {
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index: 69;
    border: none;
    outline: none;
    background-color: rgba(250, 250, 250, 0.9);
    color: #CF1C4F;
    cursor: pointer;
    padding: 20px;
    font-size: 30pt;
    border-style: solid;
    border-width: 2px;
    border-color: #CF1C4F;
    transition: all 0.5s;
}

#tray {
    background: #EAE0D4;
    width: 70%;
    margin: auto;
    border: 20px dashed #FAFAFA;
    border-top-style: none;
    border-bottom-style: none;
    outline: 10px solid #EAE0D4;
}

img {
    width: 90%;
    display: block;
    margin: auto;
}

h6 {
    font-size: 26pt;
    margin: 0 1.5%;
    font-weight: 400;
    line-height: 30pt;
    padding-bottom: 10px;
}

#intro {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    line-height: 26pt;
    letter-spacing: 1px;
}

input {
    background-color: rgba(255, 255, 255, 0.35);
    border-width: 2px;
    border-color: #092882;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    width: 70%;
    font-size: 20pt;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    border-image: none;
}

select {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    overflow-y: hidden;
    background: none;
    border-style: none;
    text-align: center;
    margin-top: 10px;
    height: 90px;
}

option {
    display: inline-block;
    margin: 20px 10px;
    font-size: 18pt;
    padding: 8px 8px 5px 8px;
    color: #092882;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.35);
    border-style: solid;
    border-width: 2px;
    border-color: #092882;
}

#showall {
    background-color: rgba(255, 255, 255, 0.35);
    border-color: #CF1C4F;
    color: #CF1C4F;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16pt;
    padding-bottom: 30px;
}

.container {
    width: 90%;
    margin: auto;
}

.mix {
    width: 90%;
    background-image: linear-gradient(to right, #092882, #4D6AAC);
    border-radius: 18px;
    margin-bottom: 15px;
    opacity: 100%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0);
    transition: all 0.5s;
    display: block;
    color: #FAFAFA;
}

.mix:hover {
    box-shadow: -4px 4px 6px #020A21;
    transition: all 0.5s;
}

.pat {
    background-image: linear-gradient(to right, #CF1C4F, #EB4170);
    margin-left: auto;
    margin-right: 0;
}

.pat:hover {
    box-shadow: 4px 4px 6px #5E0D24;
}

h2 {
    font-size: 30pt;
    line-height: 36pt;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 2px;
    font-weight: 500;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blu {
    color: #F4EDE4;
    text-transform: uppercase;
    font-weight: 500;
}

.red {
    color: #F4EDE4;
    text-transform: uppercase;
    font-weight: 500;
}

a:link, a:visited {
    color: #FAFAFA;
    text-decoration: none;
    transition: color .5s;
}

.mix a:hover {
    color: #F4EDE4;
    transition: color .5s;
}

.pat a:hover {
    color: #F4EDE4;
}

.link {
    padding-top: 15px;
    text-transform: uppercase;
}

p a {
    color: #092882!important;
}

p a:hover {
    color: #CF1C4F;
}

#footer {
    transform: rotate(180deg);
}

/*TABLET + MOBILE*/
@media (min-width: 1px) and (max-width: 1440px) {
    #top {
        right: 30px;
        padding: 18px;
        font-size: 18pt;
        transition: all 0.5s;
    }
    
    #tray {
        width: 90%;
        border: 20px dashed #FAFAFA;
        border-top-style: none;
        border-bottom-style: none;
        outline: 10px solid #EAE0D4;
    }

    h6 {
        font-size: 16pt;
        line-height: 18pt;
        padding-bottom: 5px;
    }

    #intro {
        padding-top: 20px;
        width: 90%;
        margin: auto;
        line-height: 18pt;
        letter-spacing: 1px;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .mix {
        width: 95%;
        border-radius: 12px;
        border-width: 2px;
        transition: all 0.5s;
    }

    h2 {
        font-size: 20pt;
        line-height: 22pt;
        padding-top: 8px;
    }

    .link {
        padding: 20px 0;
        width: 90%;
        margin: auto;
    }

    #footer {
        padding-bottom: 15px;
        transform: rotate(180deg);
    }
}

/*MOBILE*/
@media (min-width: 1px) and (max-width: 900px) {
    body {
        background: #FAFAFA;
    }
    #top {
        bottom: 25px;
        right: auto;
        left: 25px;
        padding: 15px;
        font-size: 15pt;
        transition: all 0.5s;
    }
    
    #tray {
        border: 10px solid #FAFAFA!important;
        border-top-style: none;
        border-bottom-style: none;
        outline: 5px solid #FAFAFA!important;
    }

    select {
        margin-top: 10px;
        height: 60px;
    }

    option {
        margin: 10px 1px;
        font-size: 10pt;
        font-weight: 400;
        padding: 6px 4px 4px 4px;
    }

    input {
        letter-spacing: 2px;
        width: 90%;
        font-size: 12pt;
        padding-top: 5px;
        margin-top: 10px;
    }

    #desktop {
        display: none;
    }

    .mix {
        width: 100%;
        box-shadow: 0px 0px 0px rgb(0 0 0 / 0);
        transition: all 0.5s;
    }
    
    .mix:hover {
        box-shadow: 0px 4px 6px #020A21;
        transition: all 0.5s;
    }
    
    .pat:hover {
        box-shadow: 0px 4px 6px #5E0D24;
    }
    
    .ratings {
        flex-direction: column;
    }

    .check {
        flex-direction: row !important;
    }
}
