@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600&display=swap');

::selection {
    background: #CF1C4F;
}

body {
    background-image: linear-gradient(to right, #092882, #F4EDE4 50%, #092882);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    margin: 0;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 69; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#tray {
    background-color: rgba(244, 237, 228, 0.7);
    width: 70%;
    margin: auto;
    border: 20px dashed rgba(9, 40, 130, 0.6);
    border-top-style: none;
    border-bottom-style: none;
    outline: 10px solid rgba(244, 237, 228, 0.7);
}

img {
    width: 90%;
    display: block;
    margin: auto;
}

h6 {
    font-size: 26pt;
    margin: 0 1.5%;
    font-weight: 400;
    line-height: 30pt;
    padding-bottom: 10px;
}

#intro {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    line-height: 26pt;
    letter-spacing: 1px;
}

input {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 2px;
    border-color: #092882;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    width: 70%;
    font-size: 20pt;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    border-image: none;
}

select {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    overflow-y: hidden;
    background: none;
    border-style: none;
    text-align: center;
    margin-top: 10px;
    height: 90px;
}

option {
    display: inline-block;
    margin: 20px;
    font-size: 18pt;
    padding: 8px 10px 5px 10px;
    color: white;
    border-radius: 15px;
    background: #CF1C4F;
}

#showall {
    background: #092882;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16pt;
    padding-bottom: 30px;
}

.container {
    width: 90%;
    margin: auto;
}

.mix {
    width: 90%;
    background: #F4EDE4;
    border-style: solid;
    border-width: 3px;
    border-color: #092882;
    border-radius: 30px;
    margin-bottom: 15px;
    opacity: 100%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0);
    transition: all 0.5s;
    display: block;
}

.mix:hover {
    box-shadow: -4px 4px 6px #020A21;
    transition: all 0.5s;
}

.pat {
    border-color: #CF1C4F;
    margin-left: auto;
    margin-right: 0;
}

.pat:hover {
    box-shadow: 4px 4px 6px #5E0D24;
}

h2 {
    font-size: 30pt;
    line-height: 36pt;
    margin: auto;
    padding-top: 10px;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blu {
    color: #092882;
    font-weight: 600;
}

.red {
    color: #CF1C4F;
    font-weight: 600;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    transition: color .5s;
}

.mix a:hover {
    color: #092882;
    transition: color .5s;
}

.pat a:hover {
    color: #CF1C4F;
}

.link {
    padding-top: 15px;
}

p a:hover {
    color: #CF1C4F;
}

#footer {
    transform: rotate(180deg);
}

/*TABLET + MOBILE*/
@media (min-width: 1px) and (max-width: 1440px) {
    #tray {
        background-color: rgba(244, 237, 228, 0.8);
        width: 90%;
        border: 20px dashed rgba(9, 40, 130, 0.9);
        border-top-style: none;
        border-bottom-style: none;
        outline: 10px solid rgba(244, 237, 228, 0.8);
    }

    h6 {
        font-size: 16pt;
        line-height: 18pt;
        padding-bottom: 5px;
    }

    #intro {
        padding-top: 20px;
        width: 90%;
        margin: auto;
        line-height: 18pt;
        letter-spacing: 1px;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .mix {
        width: 95%;
        border-radius: 20px;
        border-width: 2px;
        transition: all 0.5s;
    }

    h2 {
        font-size: 20pt;
        line-height: 22pt;
        padding-top: 8px;
    }

    .link {
        padding: 20px 0;
        width: 90%;
        margin: auto;
    }

    #footer {
        padding-bottom: 15px;
        transform: rotate(180deg);
    }
}

/*MOBILE*/
@media (min-width: 1px) and (max-width: 900px) {
    #tray {
        border: 10px dashed rgba(9, 40, 130, 0.9);
        border-top-style: none;
        border-bottom-style: none;
        outline: 5px solid rgba(244, 237, 228, 0.8);
    }

    select {
        margin-top: 10px;
        height: 60px;
    }

    option {
        margin: 10px 2px;
        font-size: 10pt;
        padding: 6px 2px 4px 2px;
        border-radius: 10px;
        background: #CF1C4F;
    }

    input {
        letter-spacing: 2px;
        width: 90%;
        font-size: 12pt;
        padding-top: 5px;
        margin-top: 10px;
    }

    #desktop {
        display: none;
    }

    .mix {
        width: 100%;
        box-shadow: 0px 0px 0px rgb(0 0 0 / 0);
        transition: all 0.5s;
    }
    
    .mix:hover {
        box-shadow: 0px 4px 6px #020A21;
        transition: all 0.5s;
    }
    
    .pat:hover {
        box-shadow: 0px 4px 6px #5E0D24;
    }
    
    .ratings {
        flex-direction: column;
    }

    .check {
        flex-direction: row !important;
    }
}
