@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');


h6 {
    text-transform: uppercase;
    color: #efdb71 !important;
}

p {
    width: 60%;
    text-align: justify;
    color: #f9f6fb;
    margin: auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: none;
}

.link {
    text-align: center;
    font-family: 'Teko', sans-serif;
}

@media (min-width: 1px) and (max-width: 1440px) {
    p {
        font-size: 14pt;
        padding-bottom: 10px;
    }

    .link {
        padding: 10px 0;
    }
}

@media (min-width: 1px) and (max-width: 900px) {
    p {
        width: 90%;
    }
}
